<!-- NAVIGATION -->
<ul>
    <a href="./dashboard.html">
        <li class="dashboard active">
            <i class="fa-solid fa-person-skiing"></i>
            <p>Tracker</p>
        </li>
    </a>
    <a href="./forecast.html">
        <li class="forecast">
            <i class="fa-solid fa-cloud-bolt"></i>
            <p>Forecast</p>
        </li>
    </a>
    <a href="./map.html">
        <li class="map">
            <i class="fa-regular fa-map"></i>
            <p>Map</p>
        </li>
    </a>
    <a href="./history.html">
        <li class="history">
            <i class="fa-regular fa-calendar"></i>
            <p>History</p>
        </li>
    </a>
</ul>