<div class="sidebar d-none">
    <button class="close">
        <i class="fa-regular fa-circle-xmark"></i>
    </button>
    <ul>
        <a href="../pages/dashboard.html">
            <i class="fa-solid fa-person-skiing"></i>
            <li>Ski Tracker</li>
        </a>
        <a href="../pages/forecast.html">
            <i class="fa-solid fa-cloud-bolt"></i>
            <li>Forecast</li>
        </a>
        <a href="../pages/map.html">
            <i class="fa-regular fa-map"></i>
            <li>Map</li>
        </a>
        <a href="../pages/history.html">
            <i class="fa-regular fa-calendar"></i>
            <li>History</li>
        </a>
        <a href="">
            <i class="fa-solid fa-gear"></i>
            <li>Settings</li>
        </a>
        <a href="../pages/login.html">
            <i class="fa-solid fa-right-from-bracket"></i>
            <li>Logout</li>
        </a>
    </ul>
</div>
