button.start-counter {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  border: none;
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  box-shadow: 2px 2px 5px #000;
  cursor: pointer;
  transition: all 0.25s linear;

  &:hover {
    opacity: 0.8;
  }

  i {
    font-size: 2rem;
  }
}

.minor {
  position: absolute;
  right: 1rem;
  top: 4.5rem;
  button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    padding-inline: 0.8rem;
    color: #fff;
    display: none;
  }
}
